<footer>
  
    <ul>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Careers</a></li>
      <li><a href="#">Blog</a></li>
    </ul>
    <ul>
      <li><a href="#">Terms Of Use</a></li>
      <li><a href="#">Cookies</a></li>
      <li><a href="#">Privacy</a></li>
    </ul>
    <ul>
      <li><a href="#">Help Center</a></li>
      <li><a href="#">Status</a></li>
      <li><a href="#">Resources</a></li>
    </ul>
  <h5>facecat &#169 2019</h5>

</footer>
