<footer>

    <ul>
      <li><a class="footer_text" href="/cutecats/about">About Us</a></li>
      <li><a class="footer_text" href="/cutecats/terms">Terms Of Use</a></li>
      <li><a class="footer_text" href="/cutecats/hipster">Hipster Nonsense</a></li>
    </ul>
    <ul>
      <li><a class="footer_text" href="/cutecats/careers">Careers</a></li>
      <li><a class="footer_text" href="/cutecats/cookies">Cookies</a></li>
      <li><a class="footer_text" href="/cutecats/privacy">Privacy</a></li>
    </ul>
    <ul>
      <li><a class="footer_text" href="/cutecats/">Home</a></li>
      <li><a class="footer_text" href="/users/new">Register</a></li>
      <li><a class="footer_text" href="/sessions/new">Log In</a></li>
    </ul>
  <h5 class="footer_text">facecat &#169 2019</h5>

</footer>
