<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <header>
      <% include ./partials/header.ejs %>
      <% include ./partials/main_nav.ejs %>
      <% if(currentUser){ %>
        <% include ./partials/sub_header.ejs %>
      <% } else { %>
        <% include ./partials/sub_header_empty.ejs %>
      <% } %>
    </header>
    <main>
      <div class="page_screen">
        <h2>Careers</h2>
        <h3>0 Positions Open At This Or Any Time</h3>
        <h3>We're a fake company.  I don't know what you expected here...</h3>
        <h3>Here's a full listing of locations where we're definitley not hiring now or ever.</h3>
        <p>New York, New York,
        Los Angeles, California,
        Chicago, Illinois,
        Houston, Texas,
        Phoenix, Arizona,
        Philadelphia, Pennsylvania,
        San Antonio, Texas,
        San Diego, California,
        Dallas, Texas,
        San Jose, California,
        Austin, Texas,
        Jacksonville, Florida,
        San Francisco, California,
        Columbus, Ohio,
        Fort Worth, Texas,
        Indianapolis, Indiana,
        Charlotte, North Carolina,
        Seattle, Washington,
        Denver, Colorado,
        Washington, District of Columbia,
        Boston, Massachusetts,
        El Paso, Texas,
        Detroit, Michigan,
        Nashville, Tennessee,
        Memphis, Tennessee,
        Portland, Oregon,
        Oklahoma City, Oklahoma,
        Las Vegas, Nevada,
        Baltimore, Maryland,
        Milwaukee, Wisconsin,
        Albuquerque, New Mexico,
        Tucson, Arizona,
        Fresno, California,
        Sacramento, California,
        Mesa, Arizona,
        Kansas City, Missouri,
        Atlanta, Georgia,
        Long Beach, California,
        Omaha, Nebraska,
        Raleigh, North Carolina,
        Colorado Springs, Colorado,
        Miami, Florida,
        Virginia Beach, Virginia,
        Oakland, California,
        Minneapolis, Minnesota,
        Tulsa, Oklahoma,
        Arlington, Texas,
        New Orleans, Louisiana,
        Wichita, Kansas,
        Cleveland, Ohio,
        Tampa, Florida,
        Bakersfield, California,
        Aurora, Colorado,
        Anaheim, California,
        Honolulu, Hawaii,
        Santa Ana, California,
        Riverside, California,
        Corpus Christi, Texas,
        Lexington, Kentucky,
        Stockton, California,
        St. Louis, Missouri,
        St. Paul, Minnesota,
        Henderson, Nevada,
        Pittsburgh, Pennsylvania,
        Cincinnati, Ohio,
        Anchorage, Alaska,
        Greensboro, North Carolina,
        Plano, Texas,
        Newark, New Jersey,
        Lincoln, Nebraska,
        Orlando, Florida,
        Irvine, California,
        Toledo, Ohio,
        Jersey City, New Jersey,
        Chula Vista, California,
        Durham, North Carolina,
        Fort Wayne, Indiana,
        St. Petersburg, Florida,
        Laredo, Texas,
        Buffalo, New York,
        Madison, Wisconsin,
        Lubbock, Texas,
        Chandler, Arizona,
        Scottsdale, Arizona,
        Reno, Nevada,
        Glendale, Arizona,
        Norfolk, Virginia,
        Winston-Salem, North Carolina,
        North Las Vegas, Nevada,
        Gilbert, Arizona,
        Chesapeake, Virginia,
        Irving, Texas,
        Hialeah, Florida,
        Garland, Texas,
        Fremont, California,
        Richmond, Virginia,
        Boise City, Idaho,
        Baton Rouge , Louisiana,
        Des Moines, Iowa</p>
      </div>

    </main>
    <% include ./partials/footer.ejs %>
  </body>
</html>
