<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/css/app.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Cutest Cat</h1>
      <nav>
        <a href="/cutecats/new">Add New Cat</a>
      </nav>
    </header>
    <ul>
      <% for(let i =0; i < allCats.length; i++){%>
        <li>
          <h3><%=allCats[i].name%></h3>
          <a href="/cutecats/<%=allCats[i].id%>"><img src="<%=allCats[i].img%>" alt="<%=allCats[i].name%>" width="200px"></a>
        </li>
      <%}%>
    </ul>
  </body>
</html>
