<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/css/app.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Cutest Cat</h1>
    <ul>
      <% for(let i =0; i < allCats.length; i++){%>
        <li>
          <a href="/cutecats/<%=i%>"><%=allCats[i].name%></a>
          <form  action="/cutecats/<%=i%>?_method=DELETE" method="POST">
            <input type="submit" value="Delete">
          </form>
        </li>
      <%}%>
    </ul>
    <a href="/cutecats/new">Add New Cat</a>
  </body>
</html>
