<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs%>
  </head>
  <body>
    <header>
      <% include ./partials/header.ejs %>
      <% include ./partials/new_nav.ejs %>
    </header>
    <main>

      <h2>Create New Post</h2>

      <form class="form" action="/cutecats" method="POST">
        Name: <input type="text" name="name"><br />
        Image: <input type="text" name="img"><br />
        About: <input type="text" name="about"><br />
        Will They Scratch?:<input type="checkbox" name="willScratch"><br />
        <button type="submit">Add Cat</button>
      </form>

    </main>


    <% include ./partials/footer.ejs %>

  </body>
</html>
