<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>New Cat</h1>
    <form action="/cutecats/" method="POST">
      Name: <input type="text" name="name"><br />
      Favorite Food: <input type="text" name="favoriteFood"><br />
      Owner: <input type="text" name="owner"><br />
      Shots Up To Date:<input type="checkbox" name="shotsUpToDate"><br />
      <input type="submit" value="Add Cat">
    </form>
    <a href="/cutecats/"></a>
  </body>
</html>
