<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs%>
  </head>
  <body>
    <header>
      <% include ./partials/header.ejs %>
      <% include ./partials/new_nav.ejs %>
    </header>
    <main>

      <h2>Create New Post</h2>

      <form class="form" action="/cutecats" method="POST">
        <label>Post Name</label><br/><input type="text" name="name"><br />
        <label>Post Image</label><br/><input type="text" name="img"><br />
        <label>Post Description</label><br/><textarea name="about"></textarea><br />
        <label>Does The Cat Scratch?</label><input type="checkbox" name="willScratch"><br />
        <button type="submit">Add Cat</button>
      </form>

    </main>


    <% include ./partials/footer.ejs %>

  </body>
</html>
