<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs%>
  </head>
  <body>
    <h1>New Cat</h1>
    <nav>
      <a href="/">Back</a>
    </nav>
    <form action="/cutecats" method="POST">
      Name: <input type="text" name="name"><br />
      Image: <input type="text" name="img"><br />
      Owner: <input type="text" name="owner"><br />
      About: <input type="text" name="about"><br />
      Shots Up To Date:<input type="checkbox" name="shotsUpToDate"><br />
      <input type="submit" value="Add Cat">
    </form>
  </body>
</html>
