<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <header>
      <% include ./partials/header.ejs %>
      <% include ./partials/main_nav.ejs %>
      <% if(currentUser){ %>
        <% include ./partials/sub_header.ejs %>
      <% } else { %>
        <% include ./partials/sub_header_empty.ejs %>
      <% } %>
    </header>
    <main>
      <div class="page_screen">
        <h2>Terms</h2>
      </div>

    </main>
    <% include ./partials/footer.ejs %>
  </body>
</html>
