:root {
  --dark_blue: #3b5998;
  --mid_blue: #8b9dc3;
  --light_blue: #dfe3ee;
  --off_white: #f7f7f7;
  --white: #ffffff;
}
body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background: var(--light_blue);

}
.fas{
  margin: auto;
  display: flex;
  justify-content: space-around;
  width: 100px;
  height: 50px;
  font-size: 20px;
  border-style: hidden;
  color: var(--dark_blue);
  background: var(--light_blue);
}
.capitalize {
  text-transform: capitalize;
}
header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-weight: bold;
  font-weight: 100;
  background: var(--dark_blue);
  color: var(--white);
}
.header {
  width: 400px;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  padding: 5px 20px;
}
.header > h3 {
  margin-left: 5%;
}
nav {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 5px 20px;
}
button, a {
  border-style: none;
  color: var(--white);
  text-decoration: none;
  background: var(--dark_blue);
  font-size: 14px;
  font-weight: bold;
  margin: 0 5px;
}
.main {
  height: 700px;
}
footer {
  position: relative;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}
footer > ul {
  list-style: none;
  margin: 10px 30px;
}
footer > ul > li > a, footer > h5 {
  background: var(--white);
  color: var(--mid_blue);
}
footer > h5 {
  width: 100%;
  margin: 5px auto;
}
