:root {
  --dark_blue: #3b5998;
  --mid_blue: #8b9dc3;
  --light_blue: #dfe3ee;
  --off_white: #f7f7f7;
  --white: #ffffff;
}
*{
  font-family: 'Roboto', sans-serif;
  /* border: 1px solid gold; */
}
body {
  text-align: center;
  margin: 0;
  padding: 0;
  background: var(--light_blue);
}
.far{
  margin: auto;
  display: flex;
  justify-content: space-around;
  border-style: hidden;
  background: var(--dark_blue);
}
.fas {
  color: var(--white);
}
button {
  padding: 10px;
  border-radius: 5px;
  border-style: none;
  background: var(--dark_blue);
  margin: 0 10px;
  color: var(--white);
  font-size: 18px;
  font-weight: bold;
}
a {
  color: var(--white);
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}
.capitalize {
  text-transform: capitalize;
}
/* ============================
<<<<<<<<<<HEADER>>>>>>>>>>>>>
============================= */
header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-weight: bold;
  font-weight: 100;
  background: var(--dark_blue);
  color: var(--white);
  width: 100%;
}
.header {
  width: 400px;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  padding: 5px 20px;
}
.header > h3 {
  margin-left: 5%;
}
nav {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 5px 20px;
}
.sub_header {
  padding: 3px;
  width: 100%;
  background: var(--mid_blue);
}
/* ============================
<<<<<<<<<<MAIN>>>>>>>>>>>>>
============================= */
main {
  width: 100%;
}
main > h2, main > h3 {
  color: var(--dark_blue);
  margin: 50px auto;
}
.cat_show {
  width: 500px;
  margin: 50px auto;
  background: var(--mid_blue);
  color: var(--white);
  padding: 10px 0;
  border: 2px solid var(--off_white);
  border-radius: 5px;
  box-shadow: 2px 2px 2px var(--dark_blue);

}
.cat_show_header {
  margin-top: 0;
  margin-bottom: 0;
  padding: 30px;

}
.cat_show_img {
  width: 100%;
}
.show_nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  margin: 10% auto;
  padding: 10px;
}
.form > input, .form > textarea {
  margin: 5px;
  color: var(--dark_blue);
  border: 1px solid var(--mid_blue);
  border-radius: 3px;
  padding: 6px;
  width: 200px;
  text-align: center;
}
.form > label {
  color: var(--dark_blue);
}
input[type=checkbox]{
  width: 20px;
}
/* ============================
<<<<<<<<<<FOOTER>>>>>>>>>>>>>
============================= */
footer {
  position: relative;
  margin-top: 80%;
  width: 100%;
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}
footer > ul {
  list-style: none;
  margin: 10px 30px;
}
.footer_text{
  background: var(--white);
  color: var(--mid_blue);
  font-size: 14px;
  font-weight: bold;
  padding: 3px;
  border-radius: 3px;
}
footer > ul > li {
  text-align: left;
  margin-bottom: 6px;
}
footer > h5 {
  width: 100%;
  margin: 5px auto;
}
/* ============================
<<<<<<<<<<ACTIONS>>>>>>>>>>>>
============================= */
button:hover, a:hover {
  background: var(--mid_blue);
  color: var(--white);
  cursor: pointer;
}
/* ============================
<<<<<<<MEDIA QUERIES>>>>>>>
============================= */
@media (max-width: 600px){
  .footer_text {
    font-size: 10px;
  }
  footer > ul {
    margin: 0;
  }
}
