body {
  background-image: url('https://i.imgur.com/x5pdiOb.jpg');
  background-size: cover;
  text-align: center;
  font-family: 'Cabin', sans-serif;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  flex-direction: column;
  background-image: url('https://i.imgur.com/lt5qSk1.jpg');
  background-size: 100%;
  background-position: bottom;
  padding-top: 30px;
}
header > h1, header > h3, .headContain {
  width: 70%;
  margin: 0 auto 20px auto;
  padding: 10px;
  background:rgba(0,0,0,.75);
  color: white;
  border-radius: 5px;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,.65);
  height: 100px;
  width: 100%;
}
li {
  list-style: none;
}
nav > a, nav > h3, .lower, .logout{
  background: black;
  text-decoration: none;
  margin: 20px;
  color: white;
  font-size: 20px;
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: 2px 2px gray;
}
nav > a:hover, .lower:hover, .logout:hover {
  background: white;
  color: black;
}
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.65);
  display: inline-flex;
  margin: 5%;
  width: 22%;
  border-radius: 10px;
  color: white;
}
img {
  border: 4px solid white;
  border-radius: 10px;
  margin: auto;
  width: 90%;
}

.form {
  background: rgba(0, 0, 0, 0.65);
  display: flex;
  flex-direction: column;
  width: 400px;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 20px auto;
  color: white;
}
.form > input {
  height: 20px;
  font-size: 16px;
  text-align: center;
  border-radius: 4px;
}
.submit {
  background: green;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  box-shadow: 2px 2px black;
}
.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  width: 60%;
  background: rgba(0, 0, 0, 0.65);
  border-radius: 5px;
  color: white;
}
.show > h2, .show > h3 {
  margin: auto;
  padding: 10px;
}
.showImg {
  width: 90%;
}
.hide {
  display: none;
}
@media (min-width: 700px){
  .show {
    width: 40%;
  }
  header > h1, header > h3, .headContain {
    width: 50%;
  }
}
