<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>

    <header>
      <% include ../partials/header.ejs %>
      <% include ../partials/nav.ejs %>
    </header>

    <main>

      <h2>User log in failed.</h2>
      <h2>Please try again.</h2>


    </main>


    <% include ../partials/footer.ejs %>

  </body>
</html>
